.scene.one{
    background-image: url('../img/contact/background_contact.jpg');
    position: relative;
    width: 100%;
    height: 100vh;
}

.scene.one .text{
    padding: 0 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    position: absolute;
    
}

.scene.one .text.main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    position: absolute;
}


.scene.one .text.main :first-child{
    bottom: 30%;
    left: 23%;
}

.scene.one .text.main p:nth-child(2){
    bottom: 43%;
    left: 30%;
}

.scene.one .text.main p:nth-child(3){
    bottom: 54%;
    left: 37%;
}

.scene.one .text.main p:nth-child(4){
    bottom: 64%;
    left: 44%;
}

/** here **/
.scene.one .text.main p:nth-child(5){
    bottom: 74%;
    left: 51%;
    cursor: pointer;
    z-index: 999;
}

.scene.one .text.main p:nth-child(6){
    bottom: 56%;
    left: 58%;
}

/** there **/
.scene.one .text.main p:nth-child(7){
    bottom: 68%;
    left: 74%;
    cursor: pointer;
    z-index: 999;
}

.scene.one .text.main p:last-child{
    bottom: 34%;
    left: 64%;
    z-index: 999;
}




/******** 서브 텍스트 ********/
.scene.one .text.sub p{
    font-family: 'Homemade Apple', cursive;
    font-size: 14px;
    position: absolute;
}

.scene.one .text.sub p:first-child{
    bottom: 82%;
    left: 46%;
}

.scene.one .text.sub p:nth-child(2){
    bottom: 60%;
    left: 76%;
}

.scene.one .text.sub p:nth-child(3){
    bottom: 29%;
    left: 60%;
}





/******** 데코 ********/
.scene.one .text.deco img{
    width: 90px;
    position: absolute;
}

.scene.one .text.deco img:first-child{
    width: 100px;
    bottom: 69.6%;
    left: 49%;
}

.scene.one .text.deco img:nth-child(2){
    width: 40px;
    bottom: 73%;
    left: 55.5%;
}

.scene.one .text.deco img:nth-child(3){
    width: 102px;
    bottom: 61.5%;
    left: 72%;
}

.scene.one .text.deco img:nth-child(4){
    width: 102px;
    bottom: 54%;
    left: 22%;
}

.scene.one .text.deco img:nth-child(5){
    width: 102px;
    bottom: 33%;
    left: 78%;
}

.scene.one .text.deco img:nth-child(6){
    width: 100px;
    bottom: 28%;
    left: 69%;
}